<!DOCTYPE html>
<html>
<head>
  <title>Guitar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "auth" %>
  <%= javascript_include_tag "search" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="buttons" class="row-fluid">
      <label for="keyword">Keyword</label> <input id="keyword" value='' type="text"/>
  

      	<label for="skill">Skill Level</label>
      	<select name="skill" id="skill">
      		<option value=""></option>
      		<option value="beginner">Beginner</option>
      		<option value="intermediate">Intermediate</option>
      		<option value="advanced">Advanced</option>
      	</select>
      	
		<label for="lessonType">Categories</label>
      	<select name="lessonType" id="lessonType">
      		<option value=""></option>
      		<option value="chords">Chords</option>
      		<option value="scales">Scales</option>
      		<option value="arpeggios">Arpeggios</option>
      		<option value="intermediate">Music Theory</option>
       	</select>

      	<label for="technique">Technique</label>
      	<select name="technique" id="technique">
      		<option value=""></option>
      		<option value="legato">Legato</option>
      		<option value="strumming">Strumming</option>
      		<option value="tapping">Tapping</option>
      		<option value="bending">Bending</option>
      		<option value="vibrato">Vibrato</option>
      		<option value="whammy">Whammy Bar</option>
      	</select>
      	<button id="search-button" disabled onclick="search()">Search</button></label>
    </div>
    

    <div class="container-fluid" id="searchContainer">
	    
		
	  </div>

    <script>
    	 // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Replace the 'ytplayer' element with an <iframe> and
    // YouTube player after the API code downloads.
    var player;

  
   	</script>

  
    <script src="assets/auth.js"></script>
    <script src="assets/search.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</body>
</html>