<html>
<head>
  <title>Guitar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "auth" %>
  <%= javascript_include_tag "search" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="buttons" class="row-fluid">
    
      	
      	
	
      	
    </div>
    

    <div class="container-fluid" id="searchContainer">+
       <%= render 'form' %> 
        <table class="tabs"> 

          <% @tabs.each do |tab| %>


            <tr class="well tabs">
            <td><%= tab.artist %></td>
            <td><%= tab.title %></td>
            <td><a href="https://s3-us-west-2.amazonaws.com/guitarsheduploads/<%= tab.url %>">Download</a></td>
            </tr>


          <% end %>

        </table>
		
	  </div>

   
  

</body>
</html>